/* 基本樣式 */
*,*::before, *::after {
  box-sizing: border-box;
}
p {
  font-size: 0.9em;
}


/* 共通樣式 */

[data-symbol="*"]::after{
  content: attr(data-symbol);
  color: #e74149;
  margin-left: 0.3em;
}

.radio-block {
  margin: 10px 0;
}
.btn-send {
  padding: 10px 30px;
  background-color: #fad312;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: background-color 0.3s, color 0.3s;
}
.btn-send:hover {
  background-color: black;
  color: white;
}


/* 主樣式 */
.wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 20px;
}
.main {
  max-width: 645px;
  margin: auto;
  background-color: white;
  border-top: 8px solid#fad312;
  box-shadow: 1.8px 2.4px 5px 0 rgb(0 0 0 / 30%);
}
.content {
  padding: 40px 30px;
}
.header {
  margin-bottom: 30px;
}
.header__title {
  margin-bottom: 30px;
}
.header__list {
  padding: 0;
  margin: 0 0 20px;

}
.header__list-item {
  list-style-type: none;
  font-size: 0.9em;
  padding: 5px 0;
}
.header__notice {
  color: #e74149;
  font-style: normal;
}
.input-block {
  margin: 40px 0;
}
.input-block__title {
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.input-block__input-box {
  border: solid 1px #d0d0d0;
  padding: 6px;
}
.input-block__input-box::-webkit-input-placeholder {
  color: #aaa;
}
.input-block__input-box::-moz-placeholder {
  color: #aaa;
}
.input-block__input-box:-ms-input-placeholder {
  color: #aaa;
}
.input-block__input-box::-ms-input-placeholder {
  color: #aaa;
}
.input-block__input-box::placeholder {
  color: #aaa;
}
.copyright {
  padding: 20px 0;
  background-color: black;
  text-align: center;
  color: #999999;
  font-size: 0.8em;
}