/* 基本樣式 */
*,*::before,*::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
ul, ol {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
/* 共通樣式 */

.heading {
  text-align: center;
  margin-bottom: 40px;
}
.heading__text {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  padding-left: 20px;
  border-left: 15px solid #a3dea2;
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: auto;
}

/* 導覽列 */
.navigation {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navigation__site_name {
  font-size: 36px;
  color: #489846;
  text-align: center;
  padding: 15px 0;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  width: 25%;
}
.navigation__link {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 12px 0;
  transition: background-color 0.1s, color 0.1s;
}
.navigation__link--active,
.navigation__link:hover {
  background-color: #ff7286;
  color: white;
}
@media screen and (min-width: 768px) {
  .navigation .container {
    display: flex;
    align-items: center;
    padding: 5px 20px;
  }
  .navigation__list {
    margin-left: auto;
  }
  .navigation__item ~ .navigation__item {
    margin-left: 10px;
  }
  .navigation__link {
    padding: 12px 20px;
    border-radius: 8px;
  }
}

/* FAQ 區塊 */
.faq {
  padding: 80px 20px;
}
.faq .container {
  max-width: 768px;
}
.faq__heading {
  font-weight: normal;
}
.faq__item {
  position: relative;
  border-bottom: 1px solid #a6e2c0;
  padding: 8px 0 4px 50px;
  font-weight: normal;
  cursor: pointer;
}
.faq__item--hide  .faq__description {
  display: none;
}
.faq__description {
  line-height: 1.4;
}
.faq__order {
  position: absolute;
  top: 1em;
  left: 0;
  display: inline-block;
  font-size: 24px;
  color: #70b282;
}


/* 頁腳區塊 */
.footer__informations {
  background-color: #e8efee;
  padding: 35px 45px;
}
.footer__header {
  margin-bottom: 15px;
}
.footer__site_name {
  font-size: 36px;
  color: #489846;
}
.footer__detail_item ~ .footer__detail_item {
  margin-top: 10px;
}
.footer__copyright {
  padding: 12px;
  color: white;
  text-align: center;
  background-color: #35564b;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer__header {
    order: 1;
    margin-left: 10px;
  }
}